@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mit-purple: #633786;
  --mit-purple-dark: #76489a;
  --grey-text: #1D1F23;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--grey-text);
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
}

.home-banner {
  background-color: var(--grey-text);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  letter-spacing: 7px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: var(--mit-purple);
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-mit {
  background-color: var(--mit-purple);
}

.text-mit {
  color: var(--mit-purple);
}

.vertical-align {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div .card-mit:nth-child(even) {
  background-color: var(--mit-purple);
}
div .card-mit:nth-child(odd) {
  background-color: var(--mit-purple-dark);
}