@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mit-purple: #633786;
  --mit-purple-dark: #76489a;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-mit {
  background-color: var(--mit-purple);
}

.text-mit {
  color: var(--mit-purple);
}

div .card-mit:nth-child(even) {
  background-color: var(--mit-purple);
}
div .card-mit:nth-child(odd) {
  background-color: var(--mit-purple-dark);
}